<div class="header">
    <div class="sides">
        <a routerLink="/main-page" class="logo">PET SHOP</a>
    </div>
    <div class="sides">
        <button class="menu" id="openMenu" aria-label="Open Menu"><i class="material-icons">menu</i></button>
    </div>
    <div class="info">
        <h4>Paws and Whiskers Paradise</h4>
        <h1>Where Every Pet Finds a Loving Home</h1>
    </div>
</div>


<dialog id="menuDialog">
    <a routerLink="" >Home</a>
    <a routerLink="" >Cats</a>
    <a routerLink="" >Dogs</a>
    <a routerLink="" >Other Pets</a>
    <a routerLink="" >Contact Us</a>
    <a routerLink="" >About Us</a>
</dialog>