<div class="my-div">
    <app-header></app-header>
    <div class="container-fluid pe-0 ps-0 pt-2" >
        <app-slider></app-slider>
    </div>
    <div class="container-fluid mt-4 mb-5">
        <app-category></app-category>
    </div>
    <div *ngIf="isLoading"><app-loader></app-loader></div>
    <div *ngIf="!isLoading" class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4" *ngFor="let item of petsList">
                <app-product (openLoginModal)="openLoginModal()"
                    [petItem]="item"></app-product>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && !petsList.length" class="no-product">
        <img src="assets/images/no-product.jpg" alt="No Product Found">
    </div>
    <div class="mt-5">
        <app-footer></app-footer>
    </div>
</div>

<dialog id="loginDialogue">
    <app-login-modal (dialogClose)="closeLoginDialog()"></app-login-modal>
</dialog>