<app-header></app-header>
<div class="container mt-3 mb-2">
    <h1>Wishlist</h1>
</div>
<div *ngIf="wishlist.length" class="container" style="height: 100vh;">
    <app-wishlist-item *ngFor="let item of wishlist" [petItem]="item"
        (removeItem)="removeItem($event)"></app-wishlist-item>
</div>
<div class="container mb-4" *ngIf="!wishlist.length">
    <div class="img-setting">
        <img src="assets/images/no-item.png" alt="">
    </div>
    <h1 id="noItemh1">No Items</h1>
</div>
<app-footer></app-footer>