<div class="container mb-3" *ngIf="breedList.length">
    <div class="row m-3">
        <button (click)="openBreedModal()" class="btn btn-dark col-4">Add New Breed</button>
    </div>
    <div class="row m-auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Breed Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of breedList; let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ item.BreedName }}</td>
                    <td>
                        <button (click)="updateBreed(item)" class="btn btn-primary me-2">Update</button>
                        <button (click)="deleteBreed(item)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="!breedList.length">
    <div class="d-flex justify-content-center">
        <img src="assets/images/no-item.png">
    </div>
    <h1 class="text-center">No Breed Yet</h1>
</div>

<div class="modal" id="newBreedModal" tabindex="-1" aria-labelledby="breedModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="breedModalLabel">Add New Breed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addBreedForm!">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label for="breedName" class="small mb-1">Breed Name</label>
                            <input type="text" name="breedName" placeholder="Enter breed name" class="form-control"
                                formControlName="breedName" id="breedName">
                            <small *ngIf="b['breedName'].invalid && b['breedName'].touched">
                                {{ getBreedError('breedName') }}
                            </small>
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="speciesId" class="small mb-1">Select Species</label>
                            <select name="speciesId" class="form-select form-control" formControlName="speciesId"
                                id="speciesId">
                                <option disabled value="">Select Species</option>
                                <option *ngFor="let item of speciesList" [value]="item.SpeciesId">{{ item.SpeciesName }}
                                </option>
                            </select>
                            <small *ngIf="b['speciesId'].invalid && b['speciesId'].touched">
                                {{ getBreedError('speciesId') }}
                            </small>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                <button type="button" [disabled]="this.addBreedForm?.invalid" class="btn btn-primary"
                    (click)="saveBreed()">{{this.editMode ? 'Update Breed' : 'Add Breed'}}</button>
            </div>
        </div>
    </div>
</div>