<footer class="footer">
    <div class="social">
        <h3>Follow us on social media</h3>
        <a routerLink="/main-page"><i class="fa fa-facebook"></i></a>
        <a routerLink="/main-page"><i class="fa fa-twitter"></i></a>
        <a routerLink="/main-page"><i class="fa fa-instagram"></i></a>
    </div>
    <hr class="footer-break">
    <ul class="footer-links">
        <h3 id="footer-links-heading" class="sr-only">Visit Links</h3>
        <li *ngFor="let item of navLinks">
            <a class="links-class" (click)="categClicked(item.categName)">{{ item.name }}</a>
        </li>
    </ul>
    <p class="copyright">&copy; 2025 <a style='color:inherit' routerLink="/main-page">sahilkhimani</a>. All Rights
        Reserved</p>
</footer>