<div class="header">
    <div class="sides">
        <a routerLink="/main-page" class="logo" routerLink="/main-page">PET SHOP</a>
        <span class="header-text">Paws and Whiskers Paradise : Where Every Pet Finds a Loving Home</span>
    </div>

    <div class="sides">
        <button routerLink="/wishlist" class="favorite"><i class="material-icons">favorite_outline</i></button>
        <button class="menu" id="openMenu" aria-label="Open Menu"><i class="material-icons">menu</i></button>
    </div>

</div>

<dialog id="menuDialog">
    <a *ngIf="!token" routerLink="/login" class="custom-link">Login</a>
    <ng-container *ngIf="role === buyerRole || role === null">
        <a *ngFor="let item of myHeaderNav" routerLink="" (click)="categClicked(item.categName)">{{ item.name }}</a>
    </ng-container>
    <a *ngIf="token" [routerLink]="dashboardPage" class="custom-link">Dashboard</a>
    <a *ngIf="token" (click)="logout()" class="custom-link">Logout</a>
</dialog>