.my-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0 2rem;
}

.prod-desc {
    text-align: justify;
    margin: 2rem;
}

.product-det {
    padding-right: 2rem;
}

@media (max-width : 770px) {
    .product-det {
        padding-left: 2rem;
        margin-top: 2rem;
    }
}

.short-head {
    font-weight: bold;
    font-size: 1.1rem;
}
.text-primary{
    font-size: 2rem;
}
.no-page {
    display: flex;
    justify-content: center;
}

.no-page img {
    height: 70vh;
}

.my-btn {
    align-content: center;
    background-color: rgb(229, 255, 0);
    color: black;
    padding: 0.6rem;
}

.sold-btn {
    background-color: #8A8A8A;
}

.alreadyFav{
    background-color: rgb(248, 63, 63);
    padding: 0.6rem;
    border-radius: 10px;
    color: white;
    justify-content: center;
    border: none;
}

.wishlist{
    background-color: white;
    padding: 0.6rem;
    border: 1px solid rgb(248, 63, 63);
    border-radius: 10px;
    color : rgb(248, 63, 63);
    justify-content: center;
}