<app-header></app-header>
<div *ngIf="noProduct">
    <div class="no-page">
        <img src="assets/images/not-found.jpg" alt="Page Not Found">
    </div>
</div>
<div *ngIf="!noProduct" class="container-fluid pe-0 ps-0">
    <div class="row g-0 mt-4">
        <div class="col-md-6">
            <img [src]="productDetail.PetImg" class="img-fluid my-img" [alt]="productDetail.PetName">
        </div>
        <div class="col-md-6 product-det">
            <h1>{{ productDetail.PetName | uppercase}}</h1>
            <div class="row">
                <div class="col-sm-6">
                    <p><span class="short-head">Gender:
                        </span>{{ productDetail.PetGender }}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p><span class="short-head">Age:
                        </span>{{ productDetail.PetAge }} Years Old
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p><span class="short-head">Breed:
                        </span>{{ productDetail.BreedName }}
                    </p>
                </div>
                <div class="col-sm-6">
                    <p><span class="short-head">Species:
                        </span>{{ productDetail.SpeciesName }}</p>
                </div>
            </div>
            <p class="short-head text-primary"><span>Rs.</span>{{ productDetail.PetPrice }}</p>
            <button class="btn my-btn w-100" [disabled]="!checkProductStatus(productDetail.PetOrderStatus!)" [ngClass]="!checkProductStatus(productDetail.PetOrderStatus!) ? 'sold-btn' : 'my-btn'">
                {{ !checkProductStatus(productDetail.PetOrderStatus!) ? 'Already Sold' : 'Buy Now' }}</button>
            <p class="short-head mt-2">Free 3-5 day Shipping</p>
            <button (click)="toggleWishItem(productDetail)" [ngClass]="{'wishlist' : !alreadyFavorite, 'alreadyFav' : alreadyFavorite}" class="d-flex w-100" [disabled]="!checkProductStatus(productDetail.PetOrderStatus!)">
                <i class="material-icons me-1">favorite_border</i>{{ alreadyFavorite ? 'Remove From Wishlist' : 'Add to Wishlist' }}
            </button>
        </div>
    </div>
    <div class="prod-desc">
        <h2>Product Description</h2>
        <p>{{ productDetail.PetDesc }}</p>
    </div>
</div>
<div class="mt-5">
    <app-footer></app-footer>
</div>