.form-section {
    padding: 0rem 5rem;
    height: 100vh;
    justify-content: space-evenly;
}

.form-section .head-section {
    align-items: center;
    margin-bottom: 5rem;
}

.form-section img {
    max-width: 20%;
}

.form-section label {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.form-section input {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    margin-bottom: 1rem;
    padding-left: 0px;
}

.form-section button {
    margin-top: 1rem;
}

.form-section .bottom-line {
    align-items: center;
}

.form-section .form-group small {
    color: red;
    font-size: 1rem;
}

.passField {
    position: relative;
}

.passField button {
    position: absolute;
    right: 0rem;
    top: 20%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

::ng-deep .error-snackbar {
    --mdc-snackbar-container-color: red;
    --mdc-snackbar-supporting-text-color: white;
}
::ng-deep .success-snackbar{
    --mdc-snackbar-container-color: green;
    --mdc-snackbar-supporting-text-color: white;
}

::ng-deep .error-snackbar button{
    color: white !important;
}

