.info {
    display: flex;
    justify-content: space-between;
}

.my-img {
    margin-left: 1.5rem;
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.prod-desc {
    text-align: justify;
}
.short-head{
    font-weight: bold;
}
div i {
    cursor: pointer;
}