<div class="ms-2 me-2 datatable-wrapper">
    <table class="dataTables_scroll" datatable [dtOptions]="dtOptions" [dtTrigger]="dttrigger">
        <thead>
            <tr>
                <th>Id</th>
                <th>Order Date</th>
                <th>Order Price</th>
                <th>Order Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of ordersData; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ element.orderDate }}</td>
                <td>{{ element.totalPrice }}</td>
                <td>{{ element.orderStatus }}</td>
                <td>
                    <button class="btn btn-primary me-1 mb-1">View</button>
                    <button class="btn btn-dark mb-1">Cancel</button></td>
            </tr>
        </tbody>
    </table>
</div>