::ng-deep .suc-snackbar {
    --mdc-snackbar-container-color: green !important;
    --mdc-snackbar-supporting-text-color: white !important;
}

::ng-deep .suc-snackbar button, .error-snackbar button{
    color: white !important;
}

::ng-deep .error-snackbar {
    --mdc-snackbar-container-color: red !important;
    --mdc-snackbar-supporting-text-color: white !important;
}

.-ml-3 {
    margin-left: -1rem !important;
}
.-mr-3 {
    margin-right: -1rem !important;
}
.-mt-3 {
    margin-top: -1rem !important;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.5rem;
    margin-left: -.5rem;
    margin-top: -.5rem;
}