.my-div {
    background-color: #EFF3F8;
}

::ng-deep .suc-snackbar {
    --mdc-snackbar-container-color: green !important;
    --mdc-snackbar-supporting-text-color: white !important;
}

::ng-deep .suc-snackbar button,
::ng-deep .error-snackbar button {
    color: white !important;
}

::ng-deep .error-snackbar {
    --mdc-snackbar-container-color: red !important;
    --mdc-snackbar-supporting-text-color: white !important;
}

.no-product {
    display: flex;
    justify-content: center;
}

.no-product img {
    width: 50%;
    ;
}

dialog {
    display: block;
    inset: 0;
    transition: opacity .5s;
    box-shadow: 0 0 10px 0 #000a;
    background: #fffd;
    border: 0;
    padding: 0;
}

dialog:not([open]) {
    pointer-events: none;
    display: none;
}


dialog::backdrop {
    backdrop-filter: blur(0.25rem);
}

#productDetail{
    padding: 2.5rem;
}