img {
    overflow-clip-margin: content-box;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.relative span {
    border-radius: 1.5rem;
    left: 1rem;
    top: 1rem;
}

.w-full {
    width: 100% !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.flex {
    display: flex !important;
}

.surface-card {
    background-color: white !important;
}

.border-round {
    border-radius: 6px !important;
}

.shadow-2 {
    box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f !important;
}
.text-xl {
    font-size: 1.25rem !important;
}

.font-medium {
    font-weight: 500 !important;
}