<div class="p-2">
    <div class="shadow-2 p-4 surface-card border-round">
        <div class="relative mb-3">
            <span class="surface-card shadow-2 px-3 py-2 absolute">Category</span>
            <img src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-4-1.png"
                class="w-full">
        </div>
        <div>
            <span>Product Name</span>
        </div>
        <p class="mt-0 mb-3"> Enim nec dui nunc mattis enim ut tellus. Tincidunt arcu. </p>
        <span class="text-xl">$140.00</span>
    </div>
</div>

