<div class="container">
    <div class="col-12 md:col-6 lg:col-4">
        <div class="p-2">
            <div class="shadow-2 p-4 surface-card border-round">
                <div class="relative mb-3"><span class="surface-card text-900 shadow-2 px-3 py-2 absolute"
                        style="border-radius: 1.5rem; left: 1rem; top: 1rem;">Category</span><img
                        src="https://blocks.primeng.org/assets/images/blocks/ecommerce/productlist/product-list-4-1.png" class="w-full"></div>
                <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium text-xl">Product Name</span><span><i
                            class="pi pi-star-fill text-yellow-500 mr-1"></i><span class="font-medium">5.0</span></span>
                </div>
                <p class="mt-0 mb-3 text-600 line-height-3"> Enim nec dui nunc mattis enim ut tellus. Tincidunt arcu.
                </p><span class="text-primary text-xl font-medium">$140.00</span>
            </div>
        </div>
    </div>
    <!-- <div class="wrapper">
        <div class="banner-image"></div>
        <h1>{{ petItem.petName }}</h1>
        <p>{{ petItem.petGender }} <br>
            {{ petItem.petPrice }} <br>
        </p>

    </div>
    <div>
        <a routerLink="/main-page" class="logo btn fill">Buy Now</a>
        <a routerLink="/main-page" class="logo btn outline">Details</a>
    </div> -->
</div>