<div class="p-2">
    <div class="shadow-2 p-4 pb-2 surface-card border-round">
        <div class="relative mb-3">
            <span class="surface-card shadow-2 px-3 py-2 absolute">{{ petItem?.SpeciesName }}</span>
            <img [src]="petItem?.PetImg" class="w-full">
        </div>
        <div>
            <span class="text-xl">{{ petItem?.PetName }}</span>
        </div>
        <p class="mt-0 mb-3">{{ petItem?.PetDesc || '' | shortenText : 50}} </p>
        <span class="text-xl text-primary">Rs. {{ petItem?.PetPrice }}</span>

    </div>
    <div>
        <button (click)="buyNowClicked(petItem?.PetId ?? 0)" type="button"
            class="btn w-100 my-btn d-flex justify-content-center" data-toggle="modal"
            data-target="#exampleModalCenter">
            <i class="material-icons me-1">shopping_bag</i>Buy Now</button>
    </div>
</div>