.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.relative span {
    border-radius: 1.5rem;
    left: 1rem;
    top: 1rem;
}

.w-full {
    width: 100% !important;
}

.surface-card {
    background-color: white !important;
    color: black;
}

.border-round {
    border-radius: 6px !important;
}

.shadow-2 {
    box-shadow: 0 4px 10px #00000008, 0 0 2px #0000000f, 0 2px 6px #0000001f !important;
}
.text-xl {
    font-size: 1.25rem !important;
    font-weight: 500 !important;
}