table th,
table td {
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

.status{
    display: inline;
    border-radius: 2rem;
    padding: 0.2rem 0.5rem;
    color: white;
}   
.auto-width-select {
    width: auto; 
    display: inline-block; 
    margin-left: 1rem;
  }
  