.sidebar {
    height: 100vh;
    background: #343a40;
    color: white;
}
.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.sidebar a:hover {
    background: #495057;
}
.sidebar h4{
    cursor: pointer;
}