.header {
    display: flex;
    justify-content: space-between;
    color: #eee;
    background-color: #343a40;
    border-left: 1px solid white;
    padding: 0 20px;
}
.d-flex{
    height: 100%;
    overflow: hidden;
}
.header button{
    border: none;
    background-color: transparent;
    color: white;
}
.header i{
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
}
.sides{
    align-items: center;
}
.router-outlet-wrapper {
    height: calc(100vh - 60px); /* Set height to full viewport height minus navbar height */
    overflow-y: auto; /* Add vertical scrolling within this section */
  }