<div class="d-flex">
    <div class="col-sm-3 col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-sm-9 col-md-10 clearfix">
        <div class="header pt-2 pb-2">
            <div class="d-flex sides">
                <button class="btn btn-dark d-sm-none ps-0" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#mobileSidebar">
                    <i class="material-icons">menu</i>
                </button>
                <h3>{{ pageName | titlecase }}</h3>
            </div>
            <button [routerLink]="dashboardPage"><i class="material-icons">person</i></button>
        </div>
        <div class="router-outlet-wrapper">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-start" id="mobileSidebar">
    <app-mobile-sidebar></app-mobile-sidebar>
</div>