<div id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="row g-0">
                <div class="col-md-6">
                    <div class="modal-body">
                        <h5 class="modal-title" id="myModalLabel">Pet Shop</h5>
                        <p>
                            Please log in to access more features. You can login by clicking the button below or can
                            signup
                        </p>
                        <div>
                            <button type="button" class="btn btn-success w-100">
                                Login
                            </button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary w-100">
                                Singup
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <img src="assets/images/other-icon.jpg" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</div>